<mat-accordion>
  <mat-expansion-panel *ngFor="let instance of instances">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{instance.name}}
      </mat-panel-title>
      <mat-panel-description>
        <mat-chip-list>
          <mat-chip color="primary" selected>ID: {{instance.id}}</mat-chip>
          <mat-chip *ngIf="!instance.active" color="warn" selected>Inactive</mat-chip>
        </mat-chip-list>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="instance.name" name="name" placeholder="Name" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="instance.owner_name" name="owner_name" placeholder="Owner Name" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput [(ngModel)]="instance.owner_email" name="owner_email" placeholder="Owner Email" required>
          </mat-form-field>
        </div>
        <div>
          <mat-slide-toggle [(ngModel)]="instance.active" name="active" labelPosition="before">Active</mat-slide-toggle>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button class="pull-right" color="primary">Update</button>
        <button mat-raised-button class="pull-right">Cancel</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-chip-list>
          <mat-chip><small>Created: {{instance.created_at | date:'long' }}</small></mat-chip>
          <mat-chip><small>Modified: {{instance.modified_at | date:'long' }}</small></mat-chip>
        </mat-chip-list>
      </mat-card-footer>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
